<% provide(:title, "Cite Us") %>
<div id="hdr-default-base">
	<%= render 'components/header' %>
</div>
<%= render 'components/sidebar' %>


<!-- api section -->
<section id="home-api-container">
	<div id="hapi-img-wrapper">
		<!-- <%= image_tag('rocket.png') %> -->
		<i class="fa fa-download fa-5x" aria-hidden="true"></i>
	</div>
	<h2>Download</h2>
	<p>&nbsp; &nbsp; &nbsp; &nbsp; A MySQL dump of all the data contained in PharmacoDB can be downloaded <a href="/db/PharmacoDB-2017-08-05.sql" download="PharmacoDB-2017-08-15.sql">here</a>.</p>
</section>

<%= render 'components/footer' %>
