<h3>All Releases</h3>
<ul>
  <li><a href="/news">v1.1.1-stable</a></li>
  <li><a href="/news?v=1.1.0-stable">v1.1.0-stable</a></li>
  <li><a href="/news?v=1.0.0-stable">v1.0.0-stable</a></li>
  <li><a href="/news?v=1.0.0-rc-3.0">v1.0.0-RC-3.0</a></li>
  <li><a href="/news?v=1.0.0-rc-2.0">v1.0.0-RC-2.0</a></li>
  <li><a href="/news?v=1.0.0-rc-1.0">v1.0.0-RC-1.0</a></li>
</ul>