<h3>All Downloads</h3>
<ul>
  <li><a href="/download">v1.1.1-stable</a></li>
  <li><a href="/download?v-1.1.0-stable">v1.1.0-stable</a></li>
  <li><a href="/download?v=1.0.0-stable">v1.0.0-stable</a></li>
</ul>