<div class="contact-icon-bar">
  <%= link_to contact_us_path(:subject => subject, :title => title, :id => id), :class => 'active', :method => :post do %>
    <i class="fa fa-comments" aria-hidden="true"></i>
  <% end %>
</div>
