<form action="<%= @rest_uri %>" accept-charset="UTF-8" method="get" id="mini-search-form">
	<input type="text" name="d" id="mini-search-input" placeholder=' <%= @placeholder_drug.html_safe %>' >
	<button type="submit" id="mini-search-submit"><i class="fa fa-search" aria-hidden="true"></i></button>
</form>
