<form action="/search" accept-charset="UTF-8" method="get" id="experiments-search-form">
	<input type="text" name="q" id="experiments-search-input" placeholder="Search cell line names ...">
	<button type="submit" id="experiments-search-submit"><i class="fa fa-search fa-3x" aria-hidden="true"></i></button>
</form>
