<form action="<%= locals[:rest_uri] %>" accept-charset="UTF-8" method="get" id="mini-search-form">
	<input type="text" name="<%= locals[:gene_param] %>" id="mini-search-input" placeholder='Search gene names ...'>
	<button type="submit" id="mini-search-submit"><i class="fa fa-search" aria-hidden="true"></i></button>
</form>
