<form action="/search" accept-charset="UTF-8" method="get" id="search-form">
	<input type="text" name="q" id="search-input" placeholder="Search cell line, tissue, drug or study names ...">
	<button type="submit" id="search-submit"><%= image_tag("glass.png") %></button>
</form>
