<!-- hero section -->
<section id="hero-container">
	<div id="hero-overlay"></div>
	<div id="hero-wrapper">
		<div id="hero-hdr-base">
			<%= render 'components/header' %>
		</div>
		<%= render 'components/sidebar' %>
		<div id="hero-text-wrapper">
			<h1>Internal Server Error!</h1>
      <h3>The server encountered an internal error and was unable to complete your request.</h3>
		</div>
	</div>
</section>
<%= render 'components/footer' %>
