<h3 class="ppl-card-title">Acronym</h3>
<p>Broad-Novartis Cancer Cell Line Encyclopedia (CCLE)</p>
<h3 class="ppl-card-title">Description</h3>
<p>The Cancer Cell Line Encyclopedia (CCLE) project is a collaboration between the Broad Institute, the Novartis Institutes for Biomedical Research, and its Genomics Institute of the Novartis Research Foundation to conduct a detailed genetic and pharmacologic characterization of a large panel of human cancer models, to develop integrated computational analyses that link distinct pharmacologic vulnerabilities to genomic patterns and to translate cell line integrative genomics into cancer patient stratification. The CCLE provides public access to genomic data as well as analysis and visualization for about 1000 cell lines.</p>
<h3 class="ppl-card-title">Resources</h3>
<p><a href="http://www.broadinstitute.org/ccle/home" class="urlextern" target="_blank" title="http://www.broadinstitute.org/ccle/home"  rel="nofollow">CCLE website</a></p>
<p><a href="https://portal.gdc.cancer.gov/legacy-archive/search/f" class="urlextern" target="_blank" title="https://portal.gdc.cancer.gov/legacy-archive/search/f"  rel="nofollow">RNA-seq on NCI Genomic Data Commons</a></p>
<h3 class="ppl-card-title">Publication</h3>
<p><a href="http://www.nature.com/nature/journal/v483/n7391/full/nature11003.html" class="urlextern" target="_blank" title="http://www.nature.com/nature/journal/v483/n7391/full/nature11003.html"  rel="nofollow">The Cancer Cell Line Encyclopedia enables predictive modelling of anticancer drug sensitivity, Nature 2012</a></p>
<h3 class="ppl-card-title">Data type</h3>
<table>
   <thead>
      <tr class="row0">
         <th class="col0"> Data Type </th><th class="col1"> Assay/Platform </th><th class="col2"> Raw </th><th class="col3"> Processed </th>
      </tr>
   </thead>
   <tr class="row1">
      <td class="col0"> Pharmacological </td><td class="col1 leftalign"> CellTiter Glo     </td><td class="col2"> Yes </td><td class="col3"> AUC, IC50 </td>
   </tr>
   <tr class="row2">
      <td class="col0" rowspan="2"> mRNA Expression </td><td class="col1"> Affymetrix HG-U133PLUS2 </td><td class="col2"> Yes </td><td class="col3"> BrainArray, RMA </td>
   </tr>
   <tr class="row3">
      <td class="col0"> Illumina RNA-seq </td><td class="col1"> Yes </td><td class="col2"> No </td>
   </tr>
   <tr class="row4">
      <td class="col0"> DNA Copy Number </td><td class="col1"> Affymetrix SNP 6.0 </td><td class="col2"> Yes </td><td class="col3 leftalign"> Birdseed, Normalized log2 ratios  </td>
   </tr>
   <tr class="row5">
      <td class="col0" rowspan="2"> DNA Mutation </td><td class="col1"> OncoMap </td><td class="col2"> No </td><td class="col3"> MAF </td>
   </tr>
   <tr class="row6">
      <td class="col0"> Hybrid Capture </td><td class="col1"> Yes </td><td class="col2"> MAF </td>
   </tr>
</table>
