<h3 class="ppl-card-title">Acronym</h3>
<p>Cancer Therapeutics Response Portal version 2 (CTRPv2)</p>
<h3 class="ppl-card-title">Description</h3>
<p>The Cancer Therapeutics Response Portal was developed by the Center for the Science of Therapeutics at the Broad Institute to screen a large panel of cancer cell lines for sensitivity to small molecules. CTRPv2 is a continuation of the CTRP project and the largest pharmacological screen conducted to date, containing several hudreds of thousands of drug dose-response curves.</p>
<h3 class="ppl-card-title">Resources</h3>
<p><a href="http://www.broadinstitute.org/ctrp/" class="urlextern" target="_blank" title="http://www.broadinstitute.org/ctrp/"  rel="nofollow"> Homepage</a></p>
<p><a href="https://ctd2.nci.nih.gov/dataPortal/" class="urlextern" target="_blank" title="https://ctd2.nci.nih.gov/dataPortal/"  rel="nofollow"> NCI Open Access Data Portal </a></p>
<h3 class="ppl-card-title">Publications</h3>
<p><a href="http://www.ncbi.nlm.nih.gov/pubmed/26656090" class="urlextern" target="_blank" title="http://www.ncbi.nlm.nih.gov/pubmed/26656090"  rel="nofollow"> &quot;Correlating chemical sensitivity and basal gene expression reveals mechanism of action&quot;</a> Rees et al., Nat Chem Biol, 12, 109-116 (2016);</p>
<p><a href="http://www.ncbi.nlm.nih.gov/pubmed/26482930" class="urlextern" target="_blank" title="http://www.ncbi.nlm.nih.gov/pubmed/26482930"  rel="nofollow"> &quot;Harnessing Connectivity in a Large-Scale Small-Molecule Sensitivity Dataset&quot;</a> Seashore-Ludlow et al., Cancer Discovery, 5, 1210-1223 (2015);</p>
<p><a href="http://www.ncbi.nlm.nih.gov/pubmed/23993102" class="urlextern" target="_blank" title="http://www.ncbi.nlm.nih.gov/pubmed/23993102"  rel="nofollow"> &quot;An Interactive Resource to Identify Cancer Genetic and Lineage Dependencies Targeted by Small Molecules&quot;</a> Basu, Bodycombe, Cheah, et al., Cell, 154, 1151-1161 (2013).</p>
<h3 class="ppl-card-title">Data types</h3>
<table>
   <thead>
      <tr class="row0">
         <th class="col0"> Data Type </th><th class="col1"> Assay/Platform </th><th class="col2"> Raw </th><th class="col3"> Processed </th>
      </tr>
   </thead>
   <tr class="row1">
      <td class="col0"> Pharmacological </td><td class="col1 leftalign"> CellTiter Glo     </td><td class="col2"> Yes </td><td class="col3"> AUC, IC50 </td>
   </tr>
</table>