<h3 class="ppl-card-title">Acronym</h3>
<p>Institute for Molecular Medicine Finland (FIMM)</p>
<h3 class="ppl-card-title">Description</h3>
<p>The Institute for Molecular Medicine Finland (FIMM) cell line sensitivity dataset consists of cancer cell lines screened with a small set of anti-cancer therapies profiled using a platform developed for an Individualized Systems Medicine approach for screening patient tumour. The study sought to establish the effects of concentration range, cell viability assay and sensitivity measures on consistency in drug response profiling and argue for the standardization of protocols across laboratories to improve the utility of in vitro screening for personalized medicine approaches.</p>
<h3 class="ppl-card-title">Publications</h3>
<p><a href="https://www.nature.com/nature/journal/v540/n7631/full/nature20171.html" target="_blank" title="https://www.nature.com/nature/journal/v540/n7631/full/nature20171.html"  rel="nofollow">Mpindi, J. P. et al. Consistency in drug response profiling. Nature 540, E5–E6 (2016).</a></p>
<p><a href="https://cancerdiscovery.aacrjournals.org/content/3/12/1416" target="_blank" title="https://cancerdiscovery.aacrjournals.org/content/3/12/1416"  rel="nofollow">Pemovska, T. et al. Individualized Systems Medicine Strategy to Tailor Treatments for Patients with Chemorefractory Acute Myeloid Leukemia. Cancer Discov 3, 1416–1429 (2013).</a></p>
<h3 class="ppl-card-title">Data type</h3>
<table>
   <thead>
      <tr class="row0">
         <th class="col0"> Data Type </th><th class="col1"> Assay/Platform </th><th class="col2"> Raw </th><th class="col3"> Processed </th>
      </tr>
   </thead>
   <tr class="row1">
      <td class="col0"> Pharmacological </td><td class="col1 leftalign"> CellTiter Glo     </td><td class="col2"> Yes </td><td class="col3"> DSS </td>
   </tr>
</table>

