<h3 class="ppl-card-title">Acronym</h3>
<p>The Genentech Cell Line Screening Initiative (gCSI)</p>
<h3 class="ppl-card-title">Description</h3>
<p>The Genentech Cell Line Screening Initiative (gCSI) was undertaken independently of CCLE and GDSC to to address the concerns of inconsistencies across large-scale pharmacogenomic studies. In gCSI, Genentech independently characterized the response of 410 cancer cell lines to a subset ​agents tested by GDSC and CCLE. Genentech also evaluated three specific aspects of the screening protocols that are relevant to measured drug response: readout of cell viability (metabolic versus DNA content), seeding density strategy, and cell culture media conditions. </p>
<h3 class="ppl-card-title">Resource</h3>
<p><a href="http://research-pub.gene.com/gCSI-cellline-data" class="urlextern" target="_blank" title="http://research-pub.gene.com/gCSI-cellline-data"  rel="nofollow">compareDrugScreens package</a></p>
<p><a href="http://www.ebi.ac.uk/arrayexpress/experiments/E-MTAB-2706/" class="urlextern" target="_blank" title="http://www.ebi.ac.uk/arrayexpress/experiments/E-MTAB-2706/"  rel="nofollow">RNA-seq data</a></p>
<p><a href="https://www.ebi.ac.uk/ega/studies/EGAS00001000610" class="urlextern" target="_blank" title="https://www.ebi.ac.uk/ega/studies/EGAS00001000610"  rel="nofollow">RNA-seq and SNapp array data</a></p>
<h3 class="ppl-card-title">Publication</h3>
<p><a href="http://www.nature.com/nbt/journal/v33/n3/abs/nbt.3080.html" class="urlextern" target="_blank" title="http://www.nature.com/nbt/journal/v33/n3/abs/nbt.3080.html"  rel="nofollow">A comprehensive transcriptional portrait of human cancer cell lines, Nature Biotechnology 2015</a></p>
<p><a href="http://www.nature.com/nature/journal/v533/n7603/full/nature17987.html" class="urlextern" target="_blank" title="http://www.nature.com/nature/journal/v533/n7603/full/nature17987.html"  rel="nofollow">Reproducible pharmacogenomic profiling of cancer cell line panels, Nature 2016</a></p>
<h3 class="ppl-card-title">Data types</h3>
<table>
   <thead>
      <tr class="row0">
         <th class="col0"> Data Type </th><th class="col1"> Assay/Platform </th><th class="col2"> Raw </th><th class="col3"> Processed </th>
      </tr>
   </thead>
   <tr class="row1">
      <td class="col0"> Pharmacological </td><td class="col1 leftalign"> CellTiter Glo     </td><td class="col2"> Yes </td><td class="col3"> AUC, IC50 </td>
   </tr>
   <tr class="row2">
      <td class="col0"> mRNA Expression </td><td class="col1"> Illumina RNA-seq </td><td class="col2"> Yes </td><td class="col3"> VSN/DESeq counts, RPKM </td>
   </tr>
   <tr class="row3">
      <td class="col0"> DNA Copy Number </td><td class="col1"> Illumina 2.5M SNP </td><td class="col2"> Yes </td><td class="col3"> PICNIC </td>
   </tr>
   <tr class="row4">
      <td class="col0"> DNA Mutation </td><td class="col1"> Sanger </td><td class="col2"> No </td><td class="col3"> CSV </td>
   </tr>
</table>