<h3 class="ppl-card-title">Acronym</h3>
<p>Genomics of Drug Sensitivity in Cancer (GDSC)</p>
<h3 class="ppl-card-title">Description</h3>
<p>The Genomics of Drug Sensitivity in Cancer ​(GDSC) ​Project is part of a Wellcome Trust funded collaboration between The Cancer Genome Project at the Wellcome Trust Sanger Institute (UK) and the Center for Molecular Therapeutics,​ Massachusetts General Hospital Cancer Center (USA). As part of this collaboration,​ the GDSC group is screening >1000 genetically characterised human cancer cell lines with a wide range of anti-cancer therapeutics. These compounds include cytotoxic chemotherapeutics as well as targeted therapeutics from commercial sources, academic collaborators,​ and from the biotech and pharmaceutical industries. The sensitivity patterns of the cell lines are correlated with extensive ​(epi)genomic and expression data to identify genetic features that are predictive of sensitivity. This large collection of cell lines aims at capturing much of the genomic heterogeneity that underlies human cancer, and which appears to play a critical role in determining the variable response of patients to treatment with specific agents.</p>
<p>As part of this collaboration, the GDSC group is screening &gt;1000 genetically characterised human cancer cell lines with a wide range of anti-cancer therapeutics. These compounds include cytotoxic chemotherapeutics as well as targeted therapeutics from commercial sources, academic collaborators, and from the biotech and pharmaceutical industries. The sensitivity patterns of the cell lines are correlated with extensive genomic and expression data to identify genetic features that are predictive of sensitivity. This large collection of cell lines aims at capturing much of the genomic heterogeneity that underlies human cancer, and which appears to play a critical role in determining the variable response of patients to treatment with specific agents.</p>
<h3 class="ppl-card-title">Resources</h3>
<p><a href="http://www.cancerrxgene.org/" class="urlextern" target="_blank" title="http://www.cancerrxgene.org/"  rel="nofollow">GDSC website</a></p>
<p><a href="https://www.ebi.ac.uk/arrayexpress/experiments/E-MTAB-783/" class="urlextern" target="_blank" title="https://www.ebi.ac.uk/arrayexpress/experiments/E-MTAB-783/"  rel="nofollow">Microarray gene expression data</a></p>
<h3 class="ppl-card-title">Publication</h3>
<p><a href="http://www.nature.com/nature/journal/v483/n7391/full/nature11005.html" class="urlextern" target="_blank" title="http://www.nature.com/nature/journal/v483/n7391/full/nature11005.html"  rel="nofollow">Systematic identification of genomic markers of drug sensitivity in cancer cells, Nature 2012</a></p>
<p><a href="http://nar.oxfordjournals.org/content/41/D1/D955" class="urlextern" target="_blank" title="http://nar.oxfordjournals.org/content/41/D1/D955"  rel="nofollow">Genomics of Drug Sensitivity in Cancer (GDSC): a resource for therapeutic biomarker discovery in cancer cells, Nucleic Acids Research 2013</a></p>
<h3 class="ppl-card-title">Data types</h3>
<table>
   <thead>
      <tr class="row0">
         <th class="col0"> Data Type </th><th class="col1"> Assay/Platform </th><th class="col2"> Raw </th><th class="col3"> Processed </th>
      </tr>
   </thead>
   <tr class="row1">
      <td class="col0"> Pharmacological </td><td class="col1 leftalign"> Syto60     </td><td class="col2"> Yes </td><td class="col3"> AUC, IC50 </td>
   </tr>
   <tr class="row2">
      <td class="col0"> mRNA Expression </td><td class="col1"> Affymetrix HG-U133A </td><td class="col2"> Yes </td><td class="col3"> RMA </td>
   </tr>
   <tr class="row3">
      <td class="col0"> DNA Copy Number </td><td class="col1"> Affymetrix SNP 6.0 </td><td class="col2"> Yes </td><td class="col3"> PICNIC </td>
   </tr>
   <tr class="row4">
      <td class="col0"> DNA Mutation </td><td class="col1"> Sanger </td><td class="col2"> No </td><td class="col3"> CSV </td>
   </tr>
   <tr class="row5">
      <td class="col0"> DNA Methylation </td><td class="col1"> Illumina array 450K </td><td class="col2"> Yes </td><td class="col3"> GenomeStudio </td>
   </tr>
</table>