<h3 class="ppl-card-title">Acronym</h3>
<p>GlaxoSmithKline (GSK) Cancer Cell Line Dataset</p>
<h3 class="ppl-card-title">Description</h3>
<p>In 2008, GlaxoSmithKline (GSK) released genomic profiling data for over 300 cancer cell lines via the National Cancer Informatics Program (NCIP), a network of infrastructure and tools that enables the collection, analysis, and sharing of data and knowledge along the entire research pathway from laboratory bench to patient bedside. By releasing the cell line data, GSK aims at enabling other cancer research institutions to sav  considerable drug development time and capital in their future cancer therapeutic research.</p>
<h3 class="ppl-card-title">Resources</h3>
<p><a href="https://cbiit.nci.nih.gov/ncip/biomedical-informatics-resources/data" class="urlextern" target="_blank" title="https://cbiit.nci.nih.gov/ncip/biomedical-informatics-resources/data"  rel="nofollow">The National Cancer Informatics Program (NCIP)</a></p>
<p><a href="https://array.nci.nih.gov/caarray/project/details.action?project.id=35" class="urlextern" target="_blank" title="https://array.nci.nih.gov/caarray/project/details.action?project.id=35"  rel="nofollow">Microarray Gene expression data</a></p>
<p><a href="https://array.nci.nih.gov/caarray/project/details.action?project.id=41" class="urlextern" target="_blank" title="https://array.nci.nih.gov/caarray/project/details.action?project.id=41"  rel="nofollow">SNP array data</a></p>
<h3 class="ppl-card-title">Publications</h3>
<p><a href="http://mct.aacrjournals.org/content/7/4/935" class="urlextern" target="_blank" title="http://mct.aacrjournals.org/content/7/4/935"  rel="nofollow">Genome-wide DNA copy number predictors of lapatinib sensitivity in tumor-derived cell lines. Molecular Cancer Therapeutics 2008</a></p>
<p><a href="http://cancerres.aacrjournals.org/content/70/9/3677" class="urlextern" target="_blank" title="http://cancerres.aacrjournals.org/content/70/9/3677"  rel="nofollow">Molecular Target Class Is Predictive of In vitro Response Profile, Cancer Research 2010</a></p>
<h3 class="ppl-card-title">Data types</h3>
<table>
   <thead>
      <tr class="row0">
         <th class="col0"> Data Type </th><th class="col1"> Assay/Platform </th><th class="col2"> Raw </th><th class="col3"> Processed </th>
      </tr>
   </thead>
   <tr class="row1">
      <td class="col0"> Pharmacological </td><td class="col1"> CellTiter Glo </td><td class="col2"> No </td><td class="col3"> IC50 </td>
   </tr>
   <tr class="row2">
      <td class="col0"> mRNA Expression </td><td class="col1"> Affymetrix HG-U133PLUS2 </td><td class="col2"> Yes </td><td class="col3"> MAS5 </td>
   </tr>
   <tr class="row3">
      <td class="col0"> DNA Copy Number </td><td class="col1"> Affymetrix SNP 500K </td><td class="col2"> Yes </td><td class="col3"> dChip </td>
   </tr>
</table>