<h3 class="ppl-card-title">Acronym</h3>
<p>University Health Network (UHN) Breast Cancer (BC) Screen</p>
<h3 class="ppl-card-title">Description</h3>
<p>Molecular profiling and pharmacological screening of a selection of 84 breast cancer cell lines undertaken at the Princess Margaret Cancer Centre to identify cancer treatment targets and drug biomarkers.</p>
<h3 class="ppl-card-title">Resources</h3>
<p><a href="http://neellab.github.io/bfg/" class="urlextern" target="_blank" title="http://neellab.github.io/bfg/"  rel="nofollow"> Data Website</a></p>
<p><a href="http://www.ncbi.nlm.nih.gov/geo/query/acc.cgi?acc=GSE73526" class="urlextern" target="_blank" title="http://www.ncbi.nlm.nih.gov/geo/query/acc.cgi?acc=GSE73526"  rel="nofollow"> RNA-seq data</a></p>
<p><a href="http://www.ncbi.nlm.nih.gov/geo/query/acc.cgi?acc=GSE74702" class="urlextern" target="_blank" title="http://www.ncbi.nlm.nih.gov/geo/query/acc.cgi?acc=GSE74702"  rel="nofollow"> Functional genetic screen data</a></p>
<h3 class="ppl-card-title">Publications</h3>
<p><a href="http://www.cell.com/cell/abstract/S0092-8674(15)01624-4" class="urlextern" target="_blank" title="http://www.cell.com/cell/abstract/S0092-8674(15)01624-4"  rel="nofollow">Functional Genomic Landscape of Human Breast Cancer Drivers, Vulnerabilities, and Resistance; Cell 2016</a></p>
<h3 class="ppl-card-title">Data types</h3>
<table>
   <thead>
      <tr class="row0">
         <th class="col0"> Data Type </th><th class="col1"> Assay/Platform </th><th class="col2"> Raw </th><th class="col3"> Processed </th>
      </tr>
   </thead>
   <tr class="row1">
      <td class="col0"> Pharmacological </td><td class="col1"> Sulforhodamine B colorimetric </td><td class="col2"> Yes </td><td class="col3"> AUC, IC50 </td>
   </tr>
   <tr class="row2">
      <td class="col0"> mRNA expression </td><td class="col1 leftalign"> Illumina HiSeq 2000 RNAseq   </td><td class="col2"> Yes </td><td class="col3"> FPKM </td>
   </tr>
   <tr class="row3">
      <td class="col0"> DNA Copy Number </td><td class="col1"> Illumina Human Omni-Quad </td><td class="col2"> No </td><td class="col3"> logR </td>
   </tr>
   <tr class="row4">
      <td class="col0"> Protein Expression </td><td class="col1"> RPPA </td><td class="col2"> No </td><td class="col3"> MicroVigene expression intensity </td>
   </tr>
</table>