
@import "bootstrap";
@import "font-awesome";
@import "slick";
@import "slick-theme";


// universal

body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

a, button {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	&:hover {
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}
}

// ::-webkit-scrollbar {
// 	width: 10px;
// }

// ::-webkit-scrollbar-track {
// 	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
// 	background-color: #e5e5e5;
// }

// ::-webkit-scrollbar-thumb {
// 	background-color: #666666;
// 	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
// }

// ::-webkit-scrollbar-button {
// 	background-color: #FFF;
// }

// header

#hero-hdr-base {
	width: 100%;
	height: 70px;
	top: 0;
	left: 0;
	position: absolute;
	border-bottom: 1px solid #192633;
}

#hdr-default-base {
	width: 100%;
	height: 70px;
	margin: 0;
	padding: 0;
	background-color: #031220;
	border-bottom: 1px solid #192633;
	position: absolute;
	top: 0;
	left: 0;
}

// regular header

#header {
	width: 100%;
	height: 70px;
	margin: 0;
	padding: 0;
	#header-wrapper {
		width: 100%;
		max-width: 1500px;
		margin: 0 auto;
		padding: 0 15px;
		height: 70px;
		#header-logo {
			float: left;
			width: 140px;
			line-height: 70px;
			color: #FFF;
			font-family: 'geomaniac';
			font-size: 16px;
			margin: 0 20px;
			i {
				margin-right: 10px;
				float: left;
				height: 70px;
			}
			&:hover, &:focus {
				text-decoration: none;
			}
		}
		#hdr-ul-left {
			float: left;
			margin: 0;
			padding: 0;
			height: 70px;
			li {
				display: inline-block;
				margin: 0;
				padding: 0;
				a {
					display: block;
					line-height: 70px;
					padding: 0 10px;
					font-family: 'Julius Sans One', sans-serif;
					font-size: 12px;
					font-weight: bold;
					text-transform: uppercase;
					color: #8D99AE;
					&:hover {
						text-decoration: none;
						color: #00bfa5;
					}
				}
			}
		}
		#hdr-ul-right {
			float: right;
			margin: 0;
			padding: 0;
			height: 70px;
			li {
				display: inline-block;
				margin: 0;
				padding: 0;
				.hdr-right-a {
					display: block;
					line-height: 70px;
					padding: 0 10px;
					font-family: 'Julius Sans One', sans-serif;
					font-weight: bold;
					font-size: 12px;
					letter-spacing: 2px;
					text-transform: uppercase;
					color: #EDF2F4;
					&:hover {
						text-decoration: none;
						color: #00bfa5;
					}
				}
			}
			#hdr-batch {
				margin-right: 40px;
				a {
					display: block;
					line-height: 70px;
					padding: 0 10px;
					font-family: 'Julius Sans One', sans-serif;
					font-weight: bold;
					font-size: 12px;
					letter-spacing: 2px;
					text-transform: uppercase;
					color: #EDF2F4;
					&:hover {
						text-decoration: none;
						color: #00bfa5;
					}
				}
			}
			#hdr-search {
				margin-right: 70px;

					a {
						display: block;
						line-height: 70px;
						padding: 0 10px;
						font-family: 'Julius Sans One', sans-serif;
						font-weight: bold;
						font-size: 12px;
						letter-spacing: 2px;
						text-transform: uppercase;
						color: #EDF2F4;
						&:hover {
							text-decoration: none;
							color: #00bfa5;
						}
					}
			}
			#hdr-explore {
				margin-right: 70px;
			}
			#hdr-toggle {
				width: 70px;
				height: 70px;
				vertical-align: bottom;
				position: absolute;
				z-index: 3000;
				right: 20px;
				a {
					display: block;
					width: 70px;
					height: 70px;
					padding: 25px 0 0 0;
					cursor: pointer;
					.icon-bar {
						display: block;
						width: 30px;
						height: 1px;
						margin: 0 auto 8px auto;
						border-top: 1px solid #FFF;
						-webkit-transition: all 0.3s ease;
						-moz-transition: all 0.3s ease;
						-o-transition: all 0.3s ease;
						transition: all 0.3s ease;
					}
					#first-icon-bar.toggled {
						-ms-transform: translateY(9px) translateX(0px) rotate(45deg);
						-webkit-transform: translateY(9px) translateX(0px) rotate(45deg);
						transform: translateY(9px) translateX(0px) rotate(45deg);
					}
					#second-icon-bar.toggled {
						display: none;
						margin: 0 auto;
					}
					#third-icon-bar.toggled {
						-ms-transform: translateY(0px) translateX(0px) rotate(-45deg);
						-webkit-transform: translateY(0px) translateX(0px) rotate(-45deg);
						transform: translateY(0px) translateX(0px) rotate(-45deg);
					}
				}
			}
		}
	}
}

@media screen and (max-width: 800px) {
	#hdr-ul-left {
		display: none !important;
	}
}

@media screen and (max-width: 1200px) {
	#hdr-batch {
		display: none !important;
	}
	#hdr-search {
		display: none !important;
	}
}

@media screen and (max-width: 400px) {
	#hdr-explore	 {
		display: none !important;
	}
}


// sidebar

#sidebar {
	width: 300px;
	height: 100%;
	margin: 0;
	padding: 0;
	top:0;
	overflow:auto;
	position: fixed;
	z-index: 1000;
	background-color: #031220;
	right: -300px;
	border-left: 1px solid #192633;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	opacity: .98;
	h2 {
		text-align: center;
		margin-top: 100px;
		font-family: 'geomaniac';
		text-transform: uppercase;
		color: #00bfa5;
		font-size: 13px;
		font-weight: bold;
	}
	ul {
		margin: 50px 0 0 0;
		padding: 0;
		width: 100%;
		li {
			margin: 0;
			padding: 0;
			display: block;
			width: 100%;
			a {
				display: block;
				width: 100%;
				margin: 0;
				padding: 10px 0;
				text-align: center;
				color: #FFF;
				font-family: 'Julius Sans One', sans-serif;
				text-transform: uppercase;
				font-size: 12px;
				letter-spacing: 3px;
				&:hover {
					text-decoration: none;
					background-color: #00bfa5;
				}
			}
		}
	}
}

#sidebar.toggled {
	right: 0;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}


// footer styles

#footer {
	width: 100%;
	margin: 0;
	padding: 0;
	z-index: -1;
	position: absolute;
	background-color: #1D1F21;
		#footer-wrapper {
		width: 100%;
		max-width: 1000px;
		margin: 0 auto;
		padding: 30px 15px 0 15px;
		#ftr-side-wrapper {
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			ul {
				.ftr-clmn-title {
					font-family: 'Julius Sans One', sans-serif;
					color: #00bfa5;
					font-size: 11px;
					font-weight: bold;
					text-transform: lowercase;
					letter-spacing: 1px;
				}
				li {
					display: block;
					margin: 0;
					a {
						font-family: 'Julius Sans One', sans-serif;
						color: #FFF;
						font-size: 12px;
						text-transform: lowercase;
						&:hover {
							color: #00bfa5;
							text-decoration: none;
						}
					}
				}
				.ftr-titleless {
					margin-top: 20px;
				}
			}
			#ftr-contact {
				flex-grow: 1;
				margin-left: 20px;
				background-color: #000;
				text-align: center;
				border-radius: 5px;
				a {
					font-family: 'geomaniac';
					color: #00bfa5;
					font-size: 14px;
					margin-top: 25px;
					display: block;
				}
				p {
					font-family: 'Raleway', sans-serif;
					color: #b4b9bd;
					font-size: 12px;
					margin: 0;
				}
			}
		}
		#ftr-smedia-links {
			border-bottom: 1px solid #2a2e31;
			margin-top: 10px;
			ul {
				#sml-txt {
					margin-right: 20px;
				}
				li {
					display: inline-block;
					margin: 0;
					padding: 0;
					font-family: 'Raleway', sans-serif;
					font-size: 14px;
					color: #999999;
					a {
						display: block;
						width: 25px;
						line-height: 25px;
						color: #00bfa5;
						text-align: center;
						&:hover {
							text-decoration: none;
							background-color: #00bfa5;
							color: #FFF;
						}
					}
				}
			}
		}
		small {
			text-align: center;
			color: #b4b9bd;
			font-family: 'Raleway', sans-serif;
			font-size: 11px;
			display: block;
			padding: 10px 0;
		}
	}
}

//  ??
#explore-header {
	width: 100%;
	height: 70px;
	margin: 0;
	padding: 0;
	background: #000000;
	#explore-header-wrapper {
		width: 100%;
		max-width: 1500px;
		margin: 0 auto;
		padding: 0 15px;
		height: 70px;
		#explore-header-logo {
			float: left;
			width: 140px;
			line-height: 70px;
			color: #FFF;
			font-family: 'geomaniac';
			font-size: 16px;
			margin: 0 20px;
			i {
				margin-right: 10px;
				float: left;
				height: 70px;
			}
			&:hover, &:focus {
				text-decoration: none;
			}
		}
		#explore-hdr-ul-left {
			float: left;
			margin: 0;
			padding: 0;
			height: 70px;
			li {
				display: inline-block;
				margin: 0;
				padding: 0;
				a {
					display: block;
					line-height: 70px;
					padding: 0 10px;
					font-family: 'Julius Sans One', sans-serif;
					font-size: 12px;
					font-weight: bold;
					text-transform: uppercase;
					color: #8D99AE;
					&:hover {
						text-decoration: none;
						color: #00bfa5;
					}
				}
			}
		}
		#explore-hdr-ul-right {
			float: right;
			margin: 0;
			padding: 0;
			height: 70px;
			li {
				display: inline-block;
				margin: 0;
				padding: 0;
				.explore-hdr-right-a {
					display: block;
					line-height: 70px;
					padding: 0 10px;
					font-family: 'Julius Sans One', sans-serif;
					font-weight: bold;
					font-size: 12px;
					letter-spacing: 2px;
					text-transform: uppercase;
					color: #EDF2F4;
					&:hover {
						text-decoration: none;
						color: #00bfa5;
					}
				}
			}
			#explore-hdr-batch {
				margin-right: 40px;
				a {
					display: block;
					line-height: 70px;
					padding: 0 10px;
					font-family: 'Julius Sans One', sans-serif;
					font-weight: bold;
					font-size: 12px;
					letter-spacing: 2px;
					text-transform: uppercase;
					color: #EDF2F4;
					&:hover {
						text-decoration: none;
						color: #00bfa5;
					}
				}
			}

			#explore-hdr-search {
				margin-right: 70px;

					a {
						display: block;
						line-height: 70px;
						padding: 0 10px;
						font-family: 'Julius Sans One', sans-serif;
						font-weight: bold;
						font-size: 12px;
						letter-spacing: 2px;
						text-transform: uppercase;
						color: #EDF2F4;
						&:hover {
							text-decoration: none;
							color: #00bfa5;
						}
					}
			}
			#explore-hdr-explore {
				margin-right: 70px;
			}
			#explore-hdr-toggle {
				width: 70px;
				height: 70px;
				vertical-align: bottom;
				position: absolute;
				z-index: 3000;
				right: 20px;
				a {
					display: block;
					width: 70px;
					height: 70px;
					padding: 25px 0 0 0;
					cursor: pointer;
					.icon-bar {
						display: block;
						width: 30px;
						height: 1px;
						margin: 0 auto 8px auto;
						border-top: 1px solid #FFF;
						-webkit-transition: all 0.3s ease;
						-moz-transition: all 0.3s ease;
						-o-transition: all 0.3s ease;
						transition: all 0.3s ease;
					}
					#first-icon-bar.toggled {
						-ms-transform: translateY(9px) translateX(0px) rotate(45deg);
						-webkit-transform: translateY(9px) translateX(0px) rotate(45deg);
						transform: translateY(9px) translateX(0px) rotate(45deg);
					}
					#second-icon-bar.toggled {
						display: none;
						margin: 0 auto;
					}
					#third-icon-bar.toggled {
						-ms-transform: translateY(0px) translateX(0px) rotate(-45deg);
						-webkit-transform: translateY(0px) translateX(0px) rotate(-45deg);
						transform: translateY(0px) translateX(0px) rotate(-45deg);
					}
				}
			}
		}
	}
}

@media screen and (max-width: 800px) {
	#explore-hdr-ul-left {
		display: none !important;
	}
}

@media screen and (max-width: 1200px) {
	#explore-hdr-batch {
		display: none !important;
	}
	#explore-hdr-search {
		display: none !important;
	}
}

@media screen and (max-width: 400px) {
	#explore-hdr-explore	 {
		display: none !important;
	}
}


// sidebar

#sidebar {
	width: 300px;
	height: 100%;
	margin: 0;
	padding: 0;
	position: fixed;
	z-index: 1000;
	background-color: #031220;
	right: -300px;
	border-left: 1px solid #192633;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	opacity: .98;
	h2 {
		text-align: center;
		margin-top: 100px;
		font-family: 'geomaniac';
		text-transform: uppercase;
		color: #00bfa5;
		font-size: 13px;
		font-weight: bold;
	}
	ul {
		margin: 50px 0 0 0;
		padding: 0;
		width: 100%;
		li {
			margin: 0;
			padding: 0;
			display: block;
			width: 100%;
			a {
				display: block;
				width: 100%;
				margin: 0;
				padding: 10px 0;
				text-align: center;
				color: #FFF;
				font-family: 'Julius Sans One', sans-serif;
				text-transform: uppercase;
				font-size: 12px;
				letter-spacing: 3px;
				&:hover {
					text-decoration: none;
					background-color: #00bfa5;
				}
			}
		}
	}
}

// Explore page

#annotation-columns {
 margin: auto;
 width: 80%;
 display: flex;
 flex-direction: row;
 //flex-wrap: wrap; /* optional. only if you want the items to wrap */
 justify-content: center; /* for horizontal alignment */

 .annotation-wrapper {
 	max-height: 100vh;
	min-width: 300px;
  	max-width: 18%;
 	margin: 15px 20px 30px 20px;
 	background-color: rgba(236, 238, 239, 0.83);
  	display: flex; /*added*/
  	flex-direction: column; /*added*/
	padding: 10px;
	text-align: center;
	border-width: 1px;
	border-style: solid;
	color: rgba(0, 0, 0, 0.5);

 	.annotation-title {
 		font-family: 'Raleway', sans-serif;
 		color: rgb(0, 0, 0);
 		font-size: 20px;
 		font-weight: bold;

 		font-size: 1.5em;
 		font-weight: bold;
 		letter-spacing: 3px;
 		text-transform: uppercase;
 		margin: 0;

		border-bottom-style: solid;
		border-bottom-width: 1px;
		border-bottom-color: #000000;

 		text-align: center;
 	}

	.annotation-count {
		font-family: 'Raleway', sans-serif;
		color: rgba(0, 0, 0, 1.0);
		font-size: 15px;
	}

 	.annotation-num {
 		font-size: 1.5em;
 	}

 	&:hover {
		border-width: 1px;
 		color: rgba(0, 0, 0, 1.0);
 		text-decoration: none;
 	}

 }

 @media screen and (max-width: 700px) {
 	.annotation-wrapper {
 		padding-top: 25px;
 	}
 	.annotation-wrapper p {
 		font-size: .7em;
 	}
 	.annotation-wrapper .annotation-num {
 		font-size: 1em;
 	}
 }

}

.annotation-tissue {
	display: flex;
	flex-direction: row;
}

.annotation-cell-line {
	display: flex;
	flex-direction: row;
}

.annotation-drug {
	display: flex;
	flex-direction: row;
}

.annotation-target {
	display: flex;
	flex-direction: row;
}

.annotation-tissue:hover {
	border-bottom-style: solid;
	border-bottom-width: thin;
	border-color: #000000;
	.info-icon {
		bottom: 2px;
		min-width: 30px;
		display: inline-block;
	}
}

.annotation-cell-line:hover {
	border-bottom-style: solid;
	border-bottom-width: thin;
	border-color: #000000;
	.info-icon {
		bottom: 2px;
		min-width: 30px;
		display: inline-block;
	}
}

.annotation-drug:hover {
	border-bottom-style: solid;
	border-bottom-width: thin;
	border-color: #000000;
	.info-icon {
		bottom: 2px;
		min-width: 30px;
		display: inline-block;
	}
}

.annotation-target:hover {
	border-bottom-style: solid;
	border-bottom-width: thin;
	border-color: #000000;
	.info-icon {
		bottom: 2px;
		min-width: 30px;
		display: inline-block;
	}
}

.info-icon {
	position: static;
	display: none;
	i {
		//vertical-align: middle;
		font-size: 1.0em;
	}
}

#annotation-default {
	a {
		font-family: 'Raleway', sans-serif;
		color: rgba(0, 0, 0, 0.5);
		font-size: 15px;
		word-break: break-all;
		text-align: left;

		-webkit-hyphens: auto;
		-moz-hyphens: auto;
		 -ms-hyphens: auto;
			 hyphens: auto;
	 
	}
}

#annotation-selectable {
	a {
		font-family: 'Raleway', sans-serif;
		color: rgba(0, 0, 0, 1.0);
		font-size: 20px;
		min-height: 25px;
		word-break: break-all;
		padding-left: 5px;
		text-align: left;

		-webkit-hyphens: auto;
		-moz-hyphens: auto;
		 -ms-hyphens: auto;
			 hyphens: auto;
	 
	}
}

#annotation-scroll-pane {
	overflow-y: auto;
	overflow-x: hidden;
}

#particles-js {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: -1;
}

#batch-query-particles-js {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: -1;
	background-color: #ffffff;
}