@font-face {
  font-family: 'geomaniac';
  src: font-url("geomaniac.eot");
  src: font-url("geomaniac.eot?#iefix") format("embedded-opentype"), 
  		font-url("geomaniac.svg#geomaniac") format("svg"),
  		font-url("geomaniac.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gothamlight';
  src: font-url("gothamlight.eot");
  src: font-url("gothamlight.eot?#iefix") format("embedded-opentype"), 
      font-url("gothamlight.svg#gothamlight") format("svg"),
      font-url("gothamlight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gothambook';
  src: font-url("gothambook.eot");
  src: font-url("gothambook.eot?#iefix") format("embedded-opentype"), 
      font-url("gothambook.svg#gothambook") format("svg"), 
      font-url("gothambook.woff") format("woff"), 
      font-url("gothambook.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ubuntu';
  src: font-url("ubuntu.eot");
  src: font-url("ubuntu.eot?#iefix") format("embedded-opentype"), 
      font-url("ubuntu.svg#ubuntu") format("svg"),
      font-url("ubuntu.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'WebHostingHub-Glyphs';
  src: font-url("webhostinghub-glyphs.eot");
  src: font-url("webhostinghub-glyphs.eot?#iefix") format("embedded-opentype"), 
      font-url("webhostinghub-glyphs.svg#webhostinghub-glyphs") format("svg"), 
      font-url("webhostinghub-glyphs.woff") format("woff"), 
      font-url("webhostinghub-glyphs.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}